html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 98vw;
    height: 96vh;
    margin: 0;
    background: rgb(16, 16, 16);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

p {
    white-space: pre;
}

/*grid wrapper */
.wrapper {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border: 0.1vw solid grey;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(8, 2fr) repeat(2, 1fr);
    gap: 0.5vw;
}

.hide {
    visibility: hidden;
}

/* login page */

#login-header {
    grid-column: 3 / 8;
    grid-row: 2 / 3;
    background: rgb(16, 16, 16);
    text-align: center;
}

form#login-form {
    grid-column: 1 / 10;
    grid-row: 3 / 4;
    text-align: center;
}

input {
    font-family: 'Courier New', Courier, monospace;
}

/* main chat page */


/*message display */
#message-container {
    height: 100%;
    width: 100%;
    grid-column: 1 / 10;
    grid-row: 1 / 10;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#message-container::-webkit-scrollbar {
    display: none;
}

#message-container .message:first-child {
    margin-top: auto;
}

.message {
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: 7fr 2fr;
    gap: 1vw;
}


.msg {
    margin: 0.1vw;
}

.message-body {
    grid-column: 1 / 2;
}

.timestamp {
    grid-column: 2 / 3;
    text-align: right;
    margin-right: 0.5vw;
}


/*message input */
#input-container {
    grid-column: 1 / 10;
    grid-row: 10 / 11;
}


#input {
    grid-column: 1 / 10;
    grid-row: 10 / 11;
    height: 90%;
}

#send-message {
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 95%;
}


#message-input {
    color: whitesmoke;
    border: None;
    outline: None;
    line-height: 25px;
    background-color: transparent;
    flex-grow: 1;
}

#message-submit {
    margin-right: 0.5vw;
}